/*
CSS Work in progress...
*/
/*
    Created on : 20 mai 2016, 11:31:06
    Author     : xnef424
*/
main{
	background-color: #EAF6FA;
}

header{
	background: url("../public/images/tetiere.png") no-repeat center 35px;
	background-color: #fff;
	position: relative;
}




#conteneurPrincipal{
    background-color: #FFFFFF;
}

.conteneurPrincipalMain {
    background-color: #EAF6FA;
}

#colonneDroite {
    background-color: lightyellow;
		padding-right: 0.5em;
		padding-left: 0.5em;
}

#principal {
		padding-right: 0.5em;
		padding-left: 0.5em;
}

#conteneurLogo{
    height: 235px;
		/*background-color: #D6EDF5;*/
}

#conteneurMenu {
    background-color: lightcyan;
}

.barreMenu{
    background-color: lightskyblue;
}

.conteneur{
	max-width: 880px;
	margin: 0 auto;
}

#conteneurLogoTexte{
	position: relative;
	top: 71px;
	left: 66px;
	max-width: 300px;
}

#logo{
	border-right: 30px solid transparent;
	height: 62px;
	margin-top: 81px;

}

#erreurDetail{
	background-color: lightskyblue;
}


.img-side{
	margin-top: 25px;
}

.selected{
	border: 3px solid rgb(255, 0, 0);
	background-color: rgb(255, 255, 0);
	color: rgb(0, 0, 0);
	box-shadow: 1px 1px 12px rgb(255, 0, 0);
}
